body { width: 100%; height: 100%; margin: auto; list-style: none; text-decoration: none; }

body header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: fixed; top: 0; z-index: 1; width: 100%; background-color: #fff; }

body header .progress_container { width: 100%; height: 3px; background: #f6f6f6; }

body header .progress_container .progress_bar { height: 3px; background: red; width: 0%; }

body header .contents { position: fixed; z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; }

body header .contents .logo { margin-left: 30px; }

body header .contents .logo div { margin-top: 20px; color: cornflowerblue; font-size: 30px; font-weight: 400; }

body header .contents .gnb { margin-left: 740px; padding-top: 20px; }

body header .contents .gnb ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

body header .contents .gnb ul li { margin-right: 85px; margin-top: 20px; }

body header .contents .gnb ul li :hover { color: darksalmon; border-bottom: 2px solid teal; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

body header .contents .gnb ul li a { scroll-behavior: smooth; text-decoration: none; color: cadetblue; font-size: 25px; font-weight: 500; }

footer { height: 11rem; padding-top: 3rem; background-color: #222; text-align: center; }

footer p { margin-top: 30px; font-size: 18px; text-transform: uppercase; color: #fff; }

footer p strong { font-weight: 700; }

footer .contact { margin-bottom: 1rem; }

footer .contact .phone { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }

footer .contact .phone :hover { opacity: 0.75; }

footer .contact .phone img { width: 100%; }

footer .contact .git { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }

footer .contact .git :hover { opacity: 0.75; }

footer .contact .git img { width: 100%; }

footer .contact .tistory { position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }

footer .contact .tistory :hover { opacity: 0.75; }

footer .contact .tistory img { width: 100%; }

footer .contact .instagram { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }

footer .contact .instagram :hover { opacity: 0.75; }

footer .contact .instagram img { width: 100%; }

footer .contact .email { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }

footer .contact .email :hover { opacity: 0.75; }

footer .contact .email img { width: 100%; }

@media all and (max-width: 600px) { body { margin: auto; height: auto; list-style: none; text-decoration: none; }
  body header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: fixed; top: 0; z-index: 1; width: 100%; background-color: #fff; }
  body header .progress_container { width: 100%; height: 3px; background: #f6f6f6; }
  body header .progress_container .progress_bar { height: 3px; background: red; width: 0%; }
  body header .contents { position: fixed; z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; }
  body header .contents .logo { margin-left: 30px; }
  body header .contents .logo div { margin-top: 20px; color: cornflowerblue; font-size: 30px; font-weight: 400; }
  body header .contents .gnb { display: none; padding-top: 10px; color: red; position: fixed; }
  body header .contents .gnb ul { display: -webkit-box; display: -ms-flexbox; display: flex; }
  body header .contents .gnb ul li { margin-top: 20px; }
  body header .contents .gnb ul li :hover { color: red; border-bottom: 3px solid blue; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }
  body header .contents .gnb ul li a { scroll-behavior: smooth; text-decoration: none; color: #b9b5b6; font-size: 25px; font-weight: 500; }
  body header .contents .etc { position: fixed; height: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; right: 0; }
  body header .contents .etc .all { background-color: blueviolet; width: 50px; height: 50px; position: relative; }
  body header .contents .etc .all span { display: block; width: 30px; height: 2px; background-color: red; position: absolute; left: 10px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }
  body header .contents .etc .all span:nth-child(1) { top: 14px; }
  body header .contents .etc .all span:nth-child(2) { top: 24px; }
  body header .contents .etc .all span:nth-child(3) { top: 34px; }
  body header .contents .etc .all.on span:nth-child(1) { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 24px; }
  body header .contents .etc .all.on span:nth-child(2) { left: -100px; opacity: 0; }
  body header .contents .etc .all.on span:nth-child(3) { -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 24px; }
  footer { width: 100%; height: 150px; padding-top: 3rem; background-color: #222; text-align: center; }
  footer p { margin-top: 30px; font-size: 10px; text-transform: uppercase; color: #fff; }
  footer p strong { font-weight: 700; }
  footer .contact { margin-bottom: 1rem; }
  footer .contact .phone { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }
  footer .contact .phone :hover { opacity: 0.75; }
  footer .contact .git { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }
  footer .contact .git :hover { opacity: 0.75; }
  footer .contact .git img { width: 100%; }
  footer .contact .tistory { position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }
  footer .contact .tistory :hover { opacity: 0.75; }
  footer .contact .tistory img { width: 100%; }
  footer .contact .instagram { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }
  footer .contact .instagram :hover { opacity: 0.75; }
  footer .contact .instagram img { width: 100%; }
  footer .contact .email { background-color: #fff; position: relative; display: inline-block; width: 3rem; height: 3rem; padding: 2px; margin: 0 0.5rem; border-radius: 2rem; cursor: pointer; }
  footer .contact .email :hover { opacity: 0.75; }
  footer .contact .email img { width: 100%; } }
