body .wrap video { width: 100%; margin-top: -30px; height: 100%; overflow: hidden; }

body .main .about { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: yellowgreen; height: 900px; }

body .main .about .about_wrap { padding: 30px; }

body .main .about .about_wrap h2 { width: 1200px; font-size: 40px; font-weight: 600; background-color: #fff; }

body .main .about .about_wrap .txtBox { background-color: skyblue; font-size: 20px; text-align: center; width: 250px; height: 200px; float: left; background-color: blue; margin-top: 100px; }

body .main .about .about_wrap .txtBox .title { background-color: red; }

body .main .about .about_wrap .txtBox .txt { background-color: pink; }

body .main .about .about_wrap .pic { float: right; }

body .main .about .about_wrap .pic img { margin-top: 120px; }

body .main .archive { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 900px; }

body .main .archive .archive_wrap { padding: 50px; }

body .main .archive .archive_wrap h2 { width: 1200px; font-size: 40px; font-weight: 600; background-color: #fff; }

body .main .archive .archive_wrap .gitBox { border: 3px solid #fff; height: 800px; }

body .main .archive .archive_wrap .gitBox .list { margin-top: 180px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

body .main .archive .archive_wrap .gitBox .list li { width: 500px; border: 1px solid burlywood; text-align: center; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

body .main .archive .archive_wrap .gitBox .list li:hover { border-color: blue; -webkit-transform: translateY(-30px); transform: translateY(-30px); -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65); }

body .main .archive .archive_wrap .gitBox .list li a { text-decoration: none; color: blueviolet; }

body .main .archive .archive_wrap .gitBox .list li a img { margin-top: 100px; width: 120px; }

body .main .archive .archive_wrap .gitBox .list li a .txtBox { margin: 10px; background-color: #fff; margin-top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body .main .archive .archive_wrap .gitBox .list li a .txtBox .link { margin: 20px 0 0 0; width: 180px; height: 50px; background-color: tomato; opacity: 0.7; border-radius: 50px; }

body .main .archive .archive_wrap .gitBox .list li a .txtBox .link .btn { font-weight: 600; font-size: 25px; }

body .main .archive .archive_wrap .gitBox .list li p { line-height: 1.5em; font-size: 18px; font-weight: 600; }

body .main .project { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: limegreen; height: 900px; }

body .main .contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: cadetblue; height: 900px; }

body .main .contact .contact_wrap { padding: 50px; }

body .main .contact .contact_wrap h2 { width: 1200px; font-size: 40px; font-weight: 600; background-color: #fff; }

body .main .contact .contact_wrap .contact_box { height: 700px; background-color: aquamarine; }

body .main .contact .contact_wrap .contact_box ul { font-size: 25px; padding-left: 120px; margin-top: 100px; }

body .main .contact .contact_wrap .contact_box ul li { margin-bottom: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; }

body .main .contact .contact_wrap .contact_box ul li dl dt { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 20px; }

body .top_button span a { z-index: 2; width: 45px; height: 45px; text-align: center; position: fixed; top: 85%; right: 3%; background-color: red; border-radius: 25px; }

body .top_button span a img { width: 35px; height: 35px; }

body .popup { position: fixed; z-index: 1000; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-color: #fff; display: block; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); border: 3px solid red; }

body .popup .contents { padding: 50px; }

body .popup .btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

body .popup .btns button { width: 50%; padding: 20px 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #ccc; border-right: 1px solid #fff; color: #666; }

body .popup .btns button.oneday { background-color: #ccc; }
