body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  background-color: #f5f2e1;
  overflow-x: hidden;
  overflow-y: auto;
  .wrap {
    video {
      width: 100%;
      margin-top: -30px;
      height: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;

      height: 950px;
      overflow: hidden;
    }
  }
  .iconScroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 70px;
    z-index: 2;
    .icon {
      display: flex;
      width: 20px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 100px;
      margin-bottom: 10px;
      justify-content: center;
      div {
        font-size: 18px;
        color: #fff;
        animation: infinite alternate;
        animation-name: ani_motion;
        animation-duration: 0.5s;
      }
      @keyframes ani_motion {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(10px);
        }
      }
    }
    .txt {
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  .main {
    background-color: #f5f2e1;
    .about {
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: center;

      color: #2d2e2e;
      background-color: #f5f2e1;
      height: 700px;

      .about_wrap {
        margin-top: 50px;
        border: 3px solid #888;
        border-radius: 25px;
        background-color: #f5f2e1;
        .margin {
          width: 600px;
          height: 2px;
          display: flex;
          margin: 20px 0 0 300px;
          align-items: center;
          background-color: #333;
        }
        h2 {
          width: 1200px;
          text-align: center;
          margin-top: 40px;
          font-size: 40px;
          font-weight: 600;
          background-color: #f5f2e1;

          span {
            width: 100px;
            height: 1500px;
            padding: 50px;
            border-bottom: 2px solid #111;
            background-image: url(../images/main/badge.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        .txtBox {
          font-size: 20px;
          text-align: center;
          width: 500px;
          height: 300px;
          float: left;
          padding: 140px;

          .title {
            font-size: 25px;
            background-color: #f5f2e1;
            line-height: 1.4;
          }

          .txt {
            margin-top: 20px;
            font-size: 20px;
            background-color: #f5f2e1;
            line-height: 1.4;
          }
          .contact {
            margin: 50px 0 0 50px;
            text-align: left;
            div {
              span {
                img {
                  width: 50px;
                }
              }
            }
          }
        }
        .pic {
          display: flex;
          img {
            margin-top: 120px;
            width: 60%;
            animation: fadein 2s;
          }
          @keyframes fadein {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
      }
    }
    .archive {
      display: flex;
      margin: 20px 0 20px 0;
      justify-content: center;
      background-color: #f5f2e1;
      height: 700px;
      .archive_wrap {
        margin-top: 50px;
        border: 3px solid #888;
        border-radius: 25px;
        .margin {
          width: 600px;
          height: 2px;
          display: flex;
          margin: 20px 0 0 300px;
          align-items: center;
          background-color: #333;
        }

        h2 {
          width: 1200px;
          margin-top: 40px;
          text-align: center;
          font-size: 40px;
          font-weight: 600;
          background-color: #f5f2e1;
          span {
            width: 100px;
            height: 1500px;
            padding: 50px;
            border-bottom: 2px solid #111;
            background-image: url(../images/main/badge.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
        .gitBox {
          height: 800px;

          .list {
            margin-top: 100px;
            display: flex;
            justify-content: space-around;
            li {
              width: 500px;
              border: 5px solid burlywood;
              border-radius: 25px;
              text-align: center;
              transition: all 0.25s ease;
              height: 400px;

              &:hover {
                border-color: wheat;
                transform: translateY(-30px);
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
              }

              a {
                text-decoration: none;
                color: #fff;

                img {
                  margin-top: 30px;
                  width: 120px;
                }

                .txtBox {
                  margin: 10px;

                  margin-top: 10px;
                  display: flex;
                  justify-content: center;
                  .link {
                    margin: 20px 0 0 0;
                    width: 180px;
                    height: 50px;
                    background-color: #60a5fa;
                    opacity: 0.7;
                    border-radius: 50px;
                    .btn {
                      font-weight: 550;
                      font-size: 25px;
                    }
                  }
                }
              }
              div {
                margin: 20px 0 20px 0;
                font-size: 18px;
                font-weight: 600;
              }
              p {
                line-height: 1.5em;
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
    .project {
      margin: 20px 0 20px 0;
      display: flex;
      justify-content: center;
      background-color: #f5f2e1;
      height: 1630px;
      .project_wrap {
        margin: 50px 0 20px 0;
        border: 3px solid #888;
        border-radius: 25px;
        .margin {
          width: 600px;
          height: 2px;
          display: flex;
          margin: 20px 0 0 300px;
          align-items: center;
          background-color: #333;
        }
        h2 {
          width: 1200px;
          text-align: center;
          margin-top: 40px;
          font-size: 40px;
          font-weight: 600;
          background-color: #f5f2e1;
          span {
            width: 100px;
            height: 1500px;
            padding: 50px;
            border-bottom: 2px solid #111;
            background-image: url(../images/main/badge.png);
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }

        .project_box {
          .section {
            /*슬라이드화면*/
            //1번째 개인프로젝트
            [id="portfolio_slide01"]:checked ~ .slide_wrap01 .slide_list > li {
              transform: translateX(0%);
            }

            [id="portfolio_slide02"]:checked ~ .slide_wrap01 .slide_list > li {
              transform: translateX(-100%);
            }
            //3번
            [id="portfolio_slide03"]:checked ~ .slide_wrap01 .slide_list > li {
              transform: translateX(-200%);
            }

            //2번째 노엘로힐스
            [id="noelo_slide01"]:checked ~ .slide_wrap02 .slide_list > li {
              transform: translateX(0%);
            }

            [id="noelo_slide02"]:checked ~ .slide_wrap02 .slide_list > li {
              transform: translateX(-100%);
            }
          }

          .section {
            /*화면적용*/
            input {
              display: none;
            }

            .slide_wrap01 {
              width: 800px;
              margin: 80px auto;
              overflow: hidden;
              border: 3px solid #777;
              border-radius: 25px;

              .slide_list {
                white-space: nowrap;

                .slide_list_1 {
                  display: inline-block;
                  vertical-align: middle;
                  width: 100%;
                  transition: all 0.5s;
                  a {
                    display: block;
                    position: relative;
                    img {
                      margin-top: -5px;
                      width: 100%;
                    }
                    label {
                      position: absolute;
                      z-index: 10;
                      top: 120%;
                      transform: translateY(-50%);
                      padding: 50px;
                      cursor: pointer;
                    }

                    .left01 {
                      left: 0px;
                      background: url(../images/main/project/left-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                    .right01 {
                      right: 0px;
                      background: url(../images/main/project/right-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                  }

                  .project_txt {
                    background-color: #f5f2e1;

                    .title {
                      margin-top: 20px;
                      text-align: center;
                      font-size: 30px;
                      font-weight: 600;
                    }
                    .project_txt_box {
                      text-align: space-around;
                      margin-top: 20px;
                      padding: 10px 80px 10px;
                      font-size: 20px;
                      display: inline-block;

                      .sub {
                        margin: 0 50px 20px 20px;
                        line-height: 1.15;
                      }
                      .link {
                        div {
                          text-align: center;
                          img {
                            width: 40px;
                          }
                          a {
                            margin-top: 2px;
                          }
                        }
                      }
                    }
                  }
                }
                .slide_list_2 {
                  display: inline-block;
                  vertical-align: middle;
                  width: 100%;
                  transition: all 0.5s;
                  a {
                    display: block;
                    position: relative;

                    label {
                      position: absolute;
                      z-index: 10;
                      top: 120%;
                      transform: translateY(-50%);
                      padding: 50px;
                      cursor: pointer;
                    }

                    .left01 {
                      left: 0px;
                      background: url(../images/main/project/left-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                    .right01 {
                      right: 0px;
                      background: url(../images/main/project/right-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                  }

                  .project_txt {
                    width: 750px;
                    text-align: center;
                    margin-top: -75px;
                    padding: 10px;
                    .title {
                      display: flex;
                      height: 100%;
                      text-align: center;
                      font-size: 40px;
                      font-weight: 600;
                    }
                    .project_txt_box {
                      display: block;
                      div {
                        h3 {
                          margin: 30px 0 30px 0;
                          font-size: 28px;
                        }
                        p {
                          line-height: 1.25;
                          font-size: 20px;
                        }
                      }
                    }
                  }
                }
                .slide_list_3 {
                  display: inline-block;
                  vertical-align: middle;
                  width: 100%;
                  transition: all 0.5s;
                  a {
                    display: block;
                    position: relative;

                    label {
                      position: absolute;
                      z-index: 10;
                      top: 120%;
                      transform: translateY(-50%);
                      padding: 50px;
                      cursor: pointer;
                    }

                    .left01 {
                      left: 0px;
                      background: url(../images/main/project/left-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                    .right01 {
                      right: 0px;
                      background: url(../images/main/project/right-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                  }

                  .project_txt {
                    position: relative;
                    margin-top: -75px;
                    padding: 10px;
                    .title {
                      display: flex;
                      height: 100%;
                      text-align: center;
                      font-size: 40px;
                      font-weight: 600;
                    }
                    .project_txt_box {
                      p {
                        margin-top: 40px;
                        text-align-last: left;
                        line-height: 1.35;
                        font-size: 20px;
                      }
                    }
                  }
                }
              }
            }
            .slide_wrap02 {
              width: 800px;
              margin: 80px auto;
              overflow: hidden;
              border: 3px solid #777;
              border-radius: 25px;

              .slide_list {
                white-space: nowrap;
                li {
                  display: inline-block;
                  vertical-align: middle;
                  width: 100%;
                  transition: all 0.5s;
                  a {
                    display: block;
                    position: relative;
                    img {
                      margin-top: -5px;
                      width: 100%;
                    }
                    label {
                      position: absolute;
                      z-index: 10;
                      top: 80%;
                      transform: translateY(-50%);
                      padding: 50px;
                      cursor: pointer;
                    }

                    .left02 {
                      left: 30px;
                      background: url(../images/main/project/left-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                    .right02 {
                      right: 30px;
                      background: url(../images/main/project/right-btn.png) center center / 65% no-repeat;
                      overflow: hidden;
                      &:hover {
                        background-color: gainsboro;
                        border-radius: 25px;
                        transition: all 0.45s ease;
                      }
                    }
                  }

                  .project_txt {
                    background-color: #f5f2e1;

                    .title {
                      margin-top: 20px;
                      text-align: center;
                      font-size: 30px;
                      font-weight: 600;
                    }
                    .project_txt_box {
                      text-align: space-around;
                      margin-top: 20px;
                      padding: 10px 80px 10px;
                      font-size: 20px;
                      display: inline-block;

                      .sub {
                        margin: 0 50px 20px 0;
                        line-height: 1.15;
                      }
                      .link {
                        div {
                          text-align: center;
                          img {
                            width: 40px;
                          }
                          a {
                            margin-top: 2px;
                          }
                        }
                      }
                      .sub_title {
                        margin-top: 3px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.top_button {
  span {
    a {
      z-index: 2;
      width: 45px;
      height: 45px;
      text-align: center;
      position: fixed;
      top: 85%;
      right: 3%;
      background-color: thistle;
      border-radius: 25px;

      img {
        margin: 5px;
        width: 35px;
        height: 35px;
        &:hover {
          background-color: seashell;
          border-radius: 25px;
          transition: all 0.95s ease;
        }
      }
    }
  }
}
.popup {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border: 3px solid #666;
  .contents {
    .imgbox {
      img {
        height: 350px;
      }
      p {
        position: absolute;
        top: 10%;
        right: 1%;
        width: 100px;
        height: 98px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.3;
        font-size: 15px;
        background-color: antiquewhite;
        border-radius: 40px;
        font-weight: 600;
      }
    }
  }
  .btns {
    display: flex;

    button {
      width: 50%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ccc;
      border: none;

      &.oneday {
        background-color: #444;
        color: #fff;
      }
    }
  }
}

//반응형 시작
@media all and (max-width: 600px) {
  body {
    font-family: "Poppins", "Noto Sans KR", sans-serif;
    background-color: #f5f2e1;
    word-break: keep-all;
    .wrap {
      video {
        width: 100%;
        margin-top: -30px;

        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }

    .main {
      .about {
        display: flex;
        margin: 20px 0 20px 0;
        justify-content: center;
        height: 700px;
        color: #2d2e2e;
        .about_wrap {
          width: 250px;
          margin-top: 50px;
          border: 3px solid #888;
          border-radius: 25px;
          .margin {
            width: 200px;
            height: 2px;
            display: flex;
            margin: 20px 0 0 30px;
            align-items: center;
            background-color: #333;
          }
          h2 {
            width: 250px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            background-color: #f5f2e1;
            span {
              width: 100px;
              height: 1500px;
              padding: 10px;
              border-bottom: 2px solid #111;
              background-image: url(../images/main/badge.png);
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
            }
          }
          .txtBox {
            font-size: 20px;
            text-align: center;

            width: 200px;
            height: 300px;
            position: relative;
            padding: 30px;

            .title {
              word-break: keep-all;
              font-size: 30px;
              background-color: #f5f2e1;
              line-height: 1.4;
            }

            .txt {
              margin-top: 30px;
              font-size: 20px;
              background-color: #f5f2e1;
              line-height: 1.4;
            }
          }
        }
      }
      .archive {
        display: flex;
        margin: 20px 0 20px 0;
        justify-content: center;
        height: 1050px;
        .archive_wrap {
          width: 250px;
          margin-top: 50px;
          border: 3px solid #888;
          border-radius: 25px;
          .margin {
            width: 200px;
            height: 2px;
            display: flex;
            margin: 20px 0 0 30px;
            align-items: center;
            background-color: #333;
          }

          h2 {
            width: 250px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            background-color: #f5f2e1;
            span {
              width: 100px;
              height: 1500px;
              padding: 10px;
              border-bottom: 2px solid #111;
              background-image: url(../images/main/badge.png);
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
            }
          }
          .gitBox {
            width: 220px;
            height: 100px;

            .list {
              margin-top: 30px;
              margin-left: 30px;
              display: flex;
              flex-wrap: wrap;
              li {
                position: relative;

                width: calc(100% - 10px);
                margin: 10px;
                border: 5px solid burlywood;
                border-radius: 25px;

                height: 400px;

                a {
                  text-decoration: none;
                  color: #fff;

                  img {
                    margin-top: 30px;
                    width: 120px;
                  }

                  .txtBox {
                    margin-top: 10px;
                    position: relative;
                    .link {
                      margin: 20px 0 0 0;
                      width: 180px;
                      height: 50px;
                      background-color: #60a5fa;
                      opacity: 0.7;
                      border-radius: 50px;
                      .btn {
                        font-weight: 550;
                        font-size: 25px;
                      }
                    }
                  }
                }
                div {
                  margin: 20px 0 20px 0;
                  font-size: 18px;
                  font-weight: 600;
                }
                p {
                  line-height: 1.5em;
                  font-size: 16px;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
      .project {
        display: flex;
        margin: 20px 0 20px 0;
        justify-content: center;
        height: 900px;
        color: #2d2e2e;
        .project_wrap {
          width: 250px;
          margin-top: 50px;
          border: 3px solid #888;
          border-radius: 25px;
          .margin {
            width: 200px;
            height: 2px;
            display: flex;
            margin: 20px 0 0 30px;
            align-items: center;
            background-color: #333;
          }
          h2 {
            width: 250px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            background-color: #f5f2e1;
            span {
              width: 100px;
              height: 1500px;
              padding: 50px;
              border-bottom: 2px solid #111;
              background-image: url(../images/main/badge.png);
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
            }
          }

          .project_box {
            .section {
              /*슬라이드화면*/
              [id="slide01"]:checked ~ .slide_wrap .slide_list > li {
                transform: translateX(0%);
              }

              [id="slide02"]:checked ~ .slide_wrap .slide_list > li {
                transform: translateX(-100%);
              }
              //3번
              [id="slide03"]:checked ~ .slide_wrap .slide_list > li {
                transform: translateX(-200%);
              }
            }

            .section {
              /*화면적용*/
              input {
                display: none;
              }

              .slide_wrap01 {
                width: 200px;
                margin: 80px auto;
                overflow: hidden;
                border: 3px solid #777;
                border-radius: 25px;
                .slide_list {
                  white-space: nowrap;
                  .slide_list_1 {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                      display: block;
                      position: relative;

                      img {
                        margin-top: -5px;
                        width: 100%;
                      }
                      label {
                        position: absolute;
                        z-index: 10;
                        top: 100%;
                        transform: translateY(-50%);
                        padding: 18px;
                        margin: auto;
                        cursor: pointer;
                      }

                      .left {
                        margin-top: 10px;
                        left: 20px;
                        background: url(../images/main/project/left-btn.png) center center / 100% no-repeat;

                        overflow: hidden;
                      }
                      .right {
                        right: 20px;
                        background: url(../images/main/project/right-btn.png) center center / 100% no-repeat;

                        overflow: hidden;
                      }
                    }

                    .project_txt {
                      background-color: #f5f2e1;

                      .title {
                        margin-top: 20px;
                        text-align: center;
                        font-size: 16px;
                        word-break: keep-all;
                        font-weight: 600;
                      }
                      .project_txt_box {
                        width: auto;
                        text-align: center;
                        display: flex;
                        margin: 30px 0 0 0;
                        padding: 0;
                        font-size: 18px;

                        .sub {
                          font-size: 16px;

                          line-height: 1.25;
                        }
                        .link {
                          display: block;
                          div {
                            img {
                              width: 30px;
                              margin: 10px 0 0 -30px;
                            }
                            a {
                              img {
                                display: block;
                              }
                              .portfolio_link {
                                display: none;
                              }
                            }
                          }
                        }

                        .sub_title {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
              .slide_wrap02 {
                width: 200px;
                margin: 80px auto;
                overflow: hidden;
                border: 3px solid #777;
                border-radius: 25px;
                .slide_list {
                  white-space: nowrap;
                  .slide_list_1 {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                      display: block;
                      position: relative;

                      img {
                        margin-top: -5px;
                        width: 100%;
                      }
                      label {
                        position: absolute;
                        z-index: 10;
                        top: 100%;
                        transform: translateY(-50%);
                        padding: 18px;
                        margin: auto;
                        cursor: pointer;
                      }

                      .left {
                        margin-top: 10px;
                        left: 20px;
                        background: url(../images/main/project/left-btn.png) center center / 100% no-repeat;

                        overflow: hidden;
                      }
                      .right {
                        right: 20px;
                        background: url(../images/main/project/right-btn.png) center center / 100% no-repeat;

                        overflow: hidden;
                      }
                    }

                    .project_txt {
                      background-color: #f5f2e1;

                      .title {
                        margin-top: 20px;
                        text-align: center;
                        font-size: 16px;
                        word-break: keep-all;
                        font-weight: 600;
                      }
                      .project_txt_box {
                        width: auto;
                        text-align: center;
                        display: flex;
                        margin: 30px 0 0 0;
                        padding: 0;
                        font-size: 18px;

                        .sub {
                          font-size: 16px;

                          line-height: 1.25;
                        }
                        .link {
                          display: block;
                          div {
                            img {
                              width: 30px;
                              margin: 10px 0 0 -30px;
                            }
                            a {
                              img {
                                display: block;
                              }
                              .portfolio_link {
                                display: none;
                              }
                            }
                          }
                        }

                        .sub_title {
                          display: none;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .top_button {
    span {
      a {
        z-index: 2;
        width: 45px;
        height: 45px;
        text-align: center;
        position: fixed;
        top: 85%;
        right: 3%;
        background-color: #fff;
        border-radius: 25px;
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  .popup {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border: 3px solid #666;
    .contents {
      .imgbox {
        img {
          height: 350px;
        }
        p {
          position: absolute;
          top: 10%;
          right: 1%;
          width: 100px;
          height: 98px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.3;
          font-size: 15px;
          background-color: antiquewhite;
          border-radius: 40px;
          font-weight: 600;
        }
      }
    }
    .btns {
      display: flex;

      button {
        width: 50%;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
        border: none;

        &.oneday {
          background-color: #444;
          color: #fff;
        }
      }
    }
  }
}
