body {
  .wrap {
    video {
      width: 100%;
      margin-top: -30px;
      height: 100%;
      overflow: hidden;
    }
  }

  .main {
    .about {
      display: flex;
      justify-content: center;
      background-color: yellowgreen;
      height: 900px;

      .about_wrap {
        padding: 30px;

        h2 {
          width: 1200px;
          font-size: 40px;
          font-weight: 600;
          background-color: #fff;
        }
        .txtBox {
          background-color: skyblue;
          font-size: 20px;
          text-align: center;
          width: 250px;
          height: 200px;
          float: left;
          background-color: blue;
          margin-top: 100px;
          .title {
            background-color: red;
          }
          .txt {
            background-color: pink;
          }
        }
        .pic {
          float: right;

          img {
            margin-top: 120px;
          }
        }
      }
    }
    .archive {
      display: flex;
      justify-content: center;
      //background-color: magenta;

      height: 900px;
      .archive_wrap {
        padding: 50px;

        h2 {
          width: 1200px;
          font-size: 40px;
          font-weight: 600;
          background-color: #fff;
        }
        .gitBox {
          border: 3px solid #fff;
          height: 800px;

          .list {
            margin-top: 180px;
            display: flex;
            justify-content: space-around;
            li {
              width: 500px;
              border: 1px solid burlywood;
              text-align: center;
              transition: all 0.25s ease;
              &:hover {
                border-color: blue;
                transform: translateY(-30px);
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.65);
              }

              a {
                text-decoration: none;
                color: blueviolet;

                img {
                  margin-top: 100px;
                  width: 120px;
                  background-color: #fff;
                }

                .txtBox {
                  margin: 10px;
                  background-color: #fff;
                  margin-top: 10px;
                  display: flex;
                  justify-content: center;
                  .link {
                    margin: 20px 0 0 0;
                    width: 180px;
                    height: 50px;
                    background-color: tomato;
                    opacity: 0.7;
                    border-radius: 50px;
                    .btn {
                      font-weight: 600;
                      font-size: 25px;
                    }
                  }
                }
              }
              p {
                line-height: 1.5em;
                font-size: 18px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .project {
      display: flex;
      justify-content: center;
      background-color: limegreen;
      height: 900px;
      .project_wrap {
        padding: 50px;
        h2 {
          width: 1200px;
          font-size: 40px;
          font-weight: 600;
          background-color: #fff;
        }
        #slideShow {
          width: 800px;
          height: 300px;
          position: relative;
          margin: 50px auto;
          overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/
        }
        .slides {
          position: absolute;
          left: 0;
          top: 0;
          width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
          transition: left 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
        } /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
        .slides li:first-child {
          margin-left: 100px;
        } /* 슬라이드들 옆으로 정렬 */
        .slides li:not(:last-child) {
          float: left;
          margin-right: 100px;
        }
        .slides li {
          float: left;
        }
        .controller span {
          position: absolute;
          background-color: transparent;
          color: black;
          text-align: center;
          border-radius: 50%;
          padding: 10px 20px;
          top: 50%;
          font-size: 1.3em;
          cursor: pointer;
        } /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
        .controller span:hover {
          background-color: rgba(128, 128, 128, 0.11);
        }
        .prev {
          left: 10px;
        } /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
        .prev:hover {
          transform: translateX(-10px);
        }
        .next {
          right: 10px;
        } /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
        .next:hover {
          transform: translateX(10px);
        }

        .project_box {
          justify-content: center;
          margin-top: 100px;
          position: relative;
          display: inline-block;
        }
      }
    }
  }
}
.top_button {
  span {
    a {
      z-index: 2;
      width: 45px;
      height: 45px;
      text-align: center;
      position: fixed;
      top: 85%;
      right: 3%;
      background-color: red;
      border-radius: 25px;
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}
.popup {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border: 3px solid red;
  .contents {
    padding: 50px;
  }
  .btns {
    display: flex;
    button {
      width: 50%;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ccc;
      border-right: 1px solid #fff;
      color: #666;
      &.oneday {
        background-color: #ccc;
      }
    }
  }
}
